@keyframes fromLeft {
	0% {
		opacity: 0;
		transform: translateX(-10rem);
	}
	80% {
		transform: translate(2rem);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes fromRight {
	0% {
		opacity: 0;
		transform: translateX(10rem);
	}
	80% {
		transform: translate(-2rem);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes fromBottom {
	0% {
		opacity: 0;
		transform: translateY(3rem);
	}
	/* 	80% {
		transform: translate(-20px);
	} */

	100% {
		opacity: 1;
		transform: translate(0);
	}
}