//COLORS

$primary: #55c57a;
$primary-light: #d4fc79;
$primary-dark: #28b485;
$grey-dark: #777;
$white: #fff;
$black: #000;
$grey-light: #f7f7f7;


$secondary-light: #ffb900;
$secondary-dark: #ff7730;

$tertiary-light: #2998ff;
$tertiary-dark: #5643fa;

$grey-light-1: #f7f7f7;
$grey-light-2: #eee;

$grey-dark: #777;
$grey-dark-2: #999;
$grey-dark-3: #333;



//GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal :6rem;

//FONT

$default-font-size: 1.6rem


